<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <!-- head partial -->
  <%- include('../partials/head.ejs') %>

  <!-- styles partial -->
  <%- include('../partials/styles.ejs') %>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-content-menu 2-columns   fixed-navbar" data-open="click"
  data-menu="vertical-content-menu" data-col="2-columns">
  <!-- top-menu partial -->
  <%- include('../partials/top-menu.ejs') %>

  <!-- BEGIN: Content-->
  <div class="app-content content">
    <div class="content-wrapper">
      <!-- main-menu partial -->
      <%- include('../partials/main-menu.ejs') %>
      <div class="content-body card card-body border-left-success border-right-success">
        <div class="row">
          <div class="col-12 page-header-container">
            <h1 class="text-bold-500 primary">Change Password</h1>
          </div>
        </div>
      </div>

      <!-- BEGIN: Alert Div -->
      <div class="content-body alert alert-success fade show" role="alert" id="alertDiv" style="display: none"></div>
      <!-- END: Alert Div -->

      <div class=" content-body card card-body">
        <% if(currentUser) { %>
        <section class="row">
          <div class="offset-md-4 col-md-4">
            <form id="changePasswordForm" class="form-horizontal form-simple">
              <fieldset class="form-group position-relative mb-2">
                <label for="currentPassword">Current Password</label>
                <input type="password" class="form-control form-control-lg input-lg" id="currentPasswordInput"
                  name="currentPassword" placeholder="Your current password" required />
              </fieldset>
              <fieldset class="form-group position-relative mb-2">
                <label for="password">New Password</label>
                <input type="password" class="form-control form-control-lg input-lg" id="passwordInput" name="password"
                  placeholder="Your new password" required />
              </fieldset>
              <fieldset class="form-group position-relative mb-2">
                <label for="repeatPassword">Repeat Password</label>
                <input type="password" class="form-control form-control-lg input-lg" id="repeatPasswordInput"
                  name="repeatPassword" placeholder="Repeat password" required />
              </fieldset>
              <fieldset class="form-group position-relative mb-2">
                <label for="submit" style="visibility: hidden;">Submit</label> <br />
                <button id="submitBtn" type="submit" class="btn btn-primary btn-block">Save Changes</button>
              </fieldset>
            </form>
          </div>
        </section>
        <% } %>
      </div>
    </div>
  </div>
  <!-- END: Content-->

  <div class="sidenav-overlay"></div>
  <div class="drag-target"></div>

  <!-- footer partial -->
  <%- include('../partials/footer.ejs') %>

  <!-- scripts partial -->
  <%- include('../partials/scripts.ejs') %>

  <script>
    // ajaxFormSubmit variables
    const formInputs = document.querySelectorAll('#currentPasswordInput, #passwordInput, #repeatPasswordInput');
    const submitBtn = document.querySelector('#submitBtn');
    const url = '/profile/change-password';
    const formId = '#changePasswordForm';

    // submit the form
    ajaxFormSubmit(formInputs, submitBtn, alertDiv, url, formId, function () {
      formInputs.forEach(item => {
        item.value = '';
      });
    });

    // disable the button, if password does not match
    matchPasswords();
  </script>
</body>
<!-- END: Body-->

</html>