<!doctype html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <!-- head partial -->
  <%- include('./head.ejs') %>

    <!-- styles partial -->
    <%- include('./styles.ejs') %>
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body body class="vertical-layout vertical-content-menu 2-columns fixed-navbar" data-open="click"
  data-menu="vertical-content-menu" data-col="2-columns">
  <!-- top-menu partial -->
  <%- include('./top-menu.ejs') %>

    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-wrapper">
        <!-- main-menu partial -->
        <%- include('./main-menu.ejs') %>

          <div class="content-body">
            <%- include('../restaurant/restaurant-detail/settings.ejs', { restaurant: restaurant, restaurantId: restaurantId }) %>
          </div>
      </div>
    </div>

    <!-- END: Content-->
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- scripts partial -->
    <%- include('./scripts.ejs') %>

      <!-- footer partial -->
      <%- include('./footer.ejs') %>
</body>
<!-- END: Body-->

</html>