<!doctype html>
<html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->

  <head>
    <!-- head partial -->
    <%- include('../partials/head.ejs') %>

    <!-- styles partial -->
    <%- include('../partials/styles.ejs') %>
  </head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->

  <body
    body
    class="vertical-layout vertical-content-menu 2-columns fixed-navbar"
    data-open="click"
    data-menu="vertical-content-menu"
    data-col="2-columns"
  >
    <!-- top-menu partial -->
    <%- include('../partials/top-menu.ejs') %>

    <!-- BEGIN: Content-->
    <div class="app-content content">
      <div class="content-wrapper">
        <!-- main-menu partial -->
        <%- include('../partials/main-menu.ejs') %>
        <div
          class="content-body card card-body border-left-success border-right-success"
        >
          <div class="page-header-container col-12 p-0">
            <h1 class="sec-title text-bold-500 primary" id="greeting">
              Chatbots
            </h1>
          </div>
        </div>
        <div class="content-body"></div>
      </div>
    </div>

    <!-- END: Content-->
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- scripts partial -->
    <%- include('../partials/scripts.ejs') %>

    <!-- footer partial -->
    <%- include('../partials/footer.ejs') %>
  </body>
  <!-- END: Body-->
</html>
